@font-face {
  font-family: DayPosterBlack;
  src: url('./fonts/DayPosterBlack.ttf');
}
@font-face {
  font-family: Bree;
  src: url('./fonts/BreeSerif_Reg.otf');
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: #333;
}

.app-name {
  color: #333;
  text-decoration: none;
}

.map-page .app-name {
  color: white;
}

.top-bar {
  font-size: 1.5rem;
  padding: 1rem;
  font-family: Bree,'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.map-page .top-bar {
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
}

header {
  background-color: #f6f6f6;
  border-bottom: 3px solid #000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.map-page header {
  border-color: green;
}

.athlete-leaderboard {
  overflow: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  direction: rtl;
  list-style: none;
  counter-reset: leaderboard-counter;
}

h1 {
  text-align: left;
  display: block;
  font-family: DayPosterBlack, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 4rem;
  color: green;
  margin: 0 1rem;
}

.route-details {
  font-family: 'Bree', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 1rem;
  font-size: 2rem;
  border-bottom: 1px solid #ccc;
  color: #333;
}

.athlete-leaderboard .athlete-score {
  text-align: left;
  direction: ltr;
  font-family: DayPosterBlack, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 0 1rem;
  padding: .3rem 0;
  line-height: 3rem;
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid green;
  counter-increment: leaderboard-counter;
}

.athlete-score::before {
  content: counter(leaderboard-counter) ". ";
  color: #e4002b;
  font-weight: bold;
}

.athlete-leaderboard .athlete-score:last-child {
  border-bottom: none;
}

.athlete-score:first-child::after {
  content: "\01F3C6"; /* trophy */
}

.map-start::before {
  content: "\01F4CD"; /* pin */
}

.map-end::before {
  content: "\01F3C1"; /* checkered flag */
}

.progress {
  color: #e4002b;
}

.nearest {
  color: green;
}

.athlete-name {
  color: #333;
}

.auth-button {
  background-color: #f65624;
  color: white;
  font-family: Helvetica;
  padding: 0 2rem;
  margin-left: auto;
  text-decoration: none;
  text-align: center;
  border: 2px solid transparent;
  margin-left: auto;
}

.auth-button:hover {
  border: 2px solid #d63b06;
}

.auth-button:active {
  transform: translate(1px, 1px);
}

.add-to-map-button {
  margin-left: auto;
  font-size: inherit;
}

main {
  width: 100%;
}

.map-page header {
  height: 40vh;
}

.map-page main {
  height: 60vh;
}

[id="map-canvas"] {
  height: 100%;
}

.maps-list-grid {
  display: grid;
  list-style: none;
  font-family: Bree,'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 2rem;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: dense;
  grid-auto-rows: 2fr;
  grid-gap: 2rem;
}

.maps-list-grid li {
  background-color: #3e3c3c;
  padding: 1rem;
  border: 1px solid #000;
}

.maps-list-grid a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
}

.maps-list-grid .map-name {
  text-decoration: underline;
}

.maps-list-grid img {
  display: block;
  max-width: 100%;
  border: 1px solid #ccc;
}

/* Style the Map marker image */
img[src*='pictures/athletes'], img[src*='/picture?'] {
  border-radius: 50%;
}

.marker-popup {
  font-size: 1.5rem;
}

.loading-spinner {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50px;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.loading-spinner div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #333;
  animation: loading-spinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loading-spinner div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loading-spinner div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loading-spinner div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes loading-spinner {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

.hidden {
  display: none;
}

@media only screen and (max-width: 1024px) {
  h1, .auth-button {
    font-size: 2rem;
  }

  .top-bar {
    font-size: 2.5rem;
  }

  .maps-list-grid {
    display: block;
    grid-template-columns: 1fr 1fr;
  }
}