@font-face {
  font-family: DayPosterBlack;
  src: url('./fonts/DayPosterBlack.ttf');
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
}

.header {
  height: calc(10vh - 3px);
  background-color: aliceblue;
  border-bottom: 3px solid green
}

h1 {
  font-family: DayPosterBlack, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: green;
  text-transform: uppercase;
  margin: 0;
  line-height: 10vh;
  font-size: 5rem;
  white-space: nowrap;
  overflow: hidden;
}

.progress {
  color: #e4002b;
}

@media only screen and (max-width: 1024px) {
  h1 {
    line-height: 5vh;
    font-size: 3rem;
  }

  .progress {
    display: block;
  }
}

[id="map-canvas"] {
  width: 100%;
  height: 90vh;
}